.popup__fieldset {
  border: none;
  margin: 34px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 655px) {
  .popup__editprofile {
    margin-top: 25px;
  }
}
