.popup__fullimage {
  max-width: 75vw;
  max-height: 75vh;
  height: 75vh;
  object-fit: contain;
  margin: 8px 40px 0 0;
  background: lightgray 50% / cover no-repeat;
}

@media screen and (max-width: 655px) {
  .popup__fullimage {
    margin: 16px 0 0;
    width: 75vh;
    height: auto;
  }
}
