.popup__editfield {
    width: 358px;
    height: 27px;
    margin: 0 auto 30px;
    padding: 0;
    position: relative;
}
.popup__editfield::after {
    content: '';
    height: 1px;
    width: 358px; 
    background: #000000;
    opacity: 0.2;
    display: block;
    position: absolute;
    top: 27px;
}
.popup__editfield:last-of-type {
    margin: 0 auto 48px;
}
@media screen and (max-width: 655px) {
    .popup__editfield {
        width: 238px;
    }
    .popup__editfield::after {
        width: 238px;
    }
    .popup__editfield:last-of-type {
        margin: 0 auto 45px;
    }
}